aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
beautifulsoup4==4.14.3
brotli==1.2.0
cachetools==7.1.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cssselect==1.4.0
cssselect2==0.9.0
cssutils==2.15.0
fonttools==4.63.0
frozenlist==1.8.0
greenlet==3.5.0
idna==3.15
lxml==6.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
markdownify==1.2.2
mdurl==0.1.2
more-itertools==11.0.2
multidict==6.7.1
pillow==12.2.0
playwright==1.60.0
premailer==3.10.0
propcache==0.5.2
pycparser==3.0
pydyf==0.12.1
pyee==13.0.1
pyfiglet==1.0.4
Pygments==2.20.0
pyphen==0.17.2
python-dotenv==1.2.2
requests==2.34.2
rich==15.0.0
six==1.17.0
soupsieve==2.8.3
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
urllib3==2.7.0
weasyprint==68.1
webencodings==0.5.1
yarl==1.24.2
yt-dlp==2026.3.17
zopfli==0.4.2